/* ====================== Basic ========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --Red: hsl(1, 90%, 64%);
    --Blue: hsl(219, 85%, 26%);
    --White: hsl(0, 0%, 100%);
    --Very-light-grayish-blue: hsl(210, 60%, 98%);
    --Light-grayish-blue-1: hsl(211, 68%, 94%);
    --Light-grayish-blue-2: hsl(205, 33%, 90%);
    --Grayish-blue: hsl(219, 14%, 63%);
    --Dark-grayish-blue: hsl(219, 12%, 42%);
    --Very-dark-blue: hsl(224, 21%, 14%);
    --siz: 16px;
}

body{
    font-size: var(--siz);
    background: var(--Very-light-grayish-blue);
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* ============================= section container ============================= */
.notifications__container{
   background: var(--White);
   margin: 3rem auto;
   max-width: 39.5rem;
   padding: 1rem;
}

.section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.section__header .section__title .amount{
     background: var(--Blue);
     color: var(--White);
     padding: .1rem .5rem;
     border-radius: .2rem;
}

.section__header .mark__btn{
     color: var(--Blue);
     cursor: pointer;
     border: none;
     outline: none;
     background: transparent;
}

.notifications{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.notification__item{
    background: var(--Very-light-grayish-blue);
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: .9rem;
}

.notification__item img{
    width: 15%;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: .3s;
}

.notification__item img:hover{
    border: 1px solid var(--Blue);
}
.data__info{
 
}
.notification__item .avatar__name{
    color: var(--Very-dark-blue);
    font-weight: bold;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}


.avatar__name:hover{
    color: var(--Blue);
}
.notification__item .event-1{
     color: var(--Grayish-blue);
}

.notification__item .event-2{
    color: var(--Blue);
    font-weight: bold;
    cursor: pointer;
}


.notification__data .intero{
     color: var(--Grayish-blue);
     border: 1px solid var(--Grayish-blue);
     padding: .5rem;
     margin-top: .5rem;
     cursor: pointer;
}

.intero:hover{
    background-color: var(--Dark-grayish-blue);
}
.notification__item .circle{
     background: var(--Red);
     border-radius: 50%;
     width: 10px;
     padding: .1rem;
     font-size: .3rem;
     margin: 0 .5rem;
     text-align: center;
}

.notification__item .time{
    color: var(--Grayish-blue);
}